// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.title-font {
  font-family: 'Kanit', sans-serif !important;
  line-height: 1.5;
  text-transform: uppercase;
}
