//feature feature-card
// .feature-feature-card {
//   @apply transition-all duration-200 ease-in-out hover:shadow;
// }

.feature-card {
  cursor: pointer;
  transition: all 0.25s ease-in;
  border-bottom: 5px solid transparent;
}

.feature-card:hover {
  transform: translateY(-5px);
  border: none;
  border-bottom: 5px solid #0054A6;
}

// .feature-card:hover {
//   transform: scale(1.05);
//   @apply shadow;
// }

$animationSpeed: 40s;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.brands .slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  // .slide {
  //   height: 100px;
  //   width: 250px;
  // }
}

.title h1,
h2,
h3 {
  font-family: 'Kanit', sans-serif !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  text-transform: uppercase;
  position: relative;
  padding: 0;
  margin: 0;
}

.title .title-primary:before {
  width: 28px;
  height: 5px;
  display: block;
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  margin-left: -14px;
  background-color: #1d4cb1;
}
.title .title-primary:after {
  width: 100px;
  height: 1px;
  display: block;
  content: '';
  position: relative;
  margin-top: 15px;
  left: 50%;
  margin-left: -50px;
  background-color: #1d4cb1;
}

.title .title-white:before {
  width: 28px;
  height: 5px;
  display: block;
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  margin-left: -14px;
  background-color: white;
}

.title .title-white:after {
  width: 100px;
  height: 1px;
  display: block;
  content: '';
  position: relative;
  margin-top: 15px;
  left: 50%;
  margin-left: -50px;
  background-color: white;
}
