b,
strong {
  @apply font-semibold;
}

.shadow {
  @apply shadow-[0_12px_24px_-6px_rgba(45,67,121,0.1)];
}

// BLOG POST CONTENT STYLES
.blog-content a:link {
  @apply text-primary;
}

.blog-content a:visited {
  color: #551a8b;
}

.blog-content a:hover,
.blog-content a:active {
  color: #0000ee;
  text-decoration: underline;
}

.blog-content dd,
.blog-content dt {
  line-height: 1.5;
}

.blog-content dt {
  font-weight: bold;
}

.blog-content li {
  line-height: 1.5;
}

.blog-content ol {
  list-style: decimal inside;
}

.blog-content ol li {
  padding-left: 2rem;
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}

.blog-content ul {
  list-style: circle inside;
}

.blog-content ul li {
  padding-left: 2rem;
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}

.blog-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.blog-content blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}
.blog-content blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.blog-content blockquote p {
  display: inline;
}

.blog-content table {
  margin-left: auto;
  margin-right: auto;
}
