b,
strong {
  @apply font-semibold;
}

.shadow {
  @apply shadow-[0_12px_24px_-6px_rgba(45,67,121,0.1)];
}

// BLOG POST CONTENT STYLES
.rich-content > * {
  text-align: justify !important;
}

.rich-content a:link {
  @apply text-primary;
}

.rich-content a:visited {
  color: #551a8b;
}

.rich-content a:hover,
.rich-content a:active {
  color: #0000ee;
  text-decoration: underline;
}

.rich-content dd,
.rich-content dt {
  line-height: 1.5;
}

.rich-content dt {
  font-weight: bold;
}

.rich-content li {
  line-height: 1.5;
}

.rich-content ol {
  list-style: decimal inside;
}

.rich-content ol li {
  padding-left: 2rem;
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}

.rich-content ul {
  list-style: circle inside;
}

.rich-content ul li {
  padding-left: 2rem;
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}

.rich-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.rich-content figure {
  padding-bottom: 25px;
  padding-top: 25px;
}

.rich-content blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}
.rich-content blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.rich-content blockquote p {
  display: inline;
}

.rich-content table {
  margin-left: auto;
  margin-right: auto;
}

.rich-content h1,
.rich-content h2,
.rich-content h3,
.rich-content h4,
.rich-content h5,
.rich-content h6 {
  margin-bottom: 0.5em !important;
  font-weight: 400 !important;
  font-family: 'Kanit', sans-serif !important;
  line-height: 1.2 !important;
  text-transform: none;
  color: #1d4cb1;
}

.rich-content h1 {
  font-size: 2.4609375rem !important;
}

.rich-content h2 {
  font-size: 1.96875rem !important;
}

.rich-content h3 {
  font-size: 1.72265625rem !important;
}

.rich-content h4 {
  font-size: 1.4765625rem !important;
}

.rich-content h5 {
  font-size: 1.23046875rem !important;
}

.rich-content h6 {
  font-size: 1.125rem !important;
}

figcaption {
  color: rgb(104, 113, 118);
  font-size: 14px !important;
  font-weight: 500;
  line-height: 20px;
  padding: 5px 10px;
  text-align: center;
}

.publishDate p {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1px 0;
  grid-gap: 22px;
  position: relative;
}

.publishDate p:after,
.publishDate p:before {
  content: ' ';
  display: block;
  border-bottom: 1px solid #ccc;
  background-color: #f8f8f8;
}
