b,
strong {
  @apply font-semibold;
}

.shadow {
  @apply shadow-[0_12px_24px_-6px_rgba(45,67,121,0.1)];
}

// BLOG POST CONTENT STYLES
.rich-content > * {
  text-align: justify !important;
}

.rich-content a:link {
  @apply text-primary;
}

.rich-content a:visited {
  color: #551a8b;
}

.rich-content a:hover,
.rich-content a:active {
  color: #0000ee;
  text-decoration: underline;
}

.rich-content dd,
.rich-content dt {
  line-height: 1.5;
}

.rich-content dt {
  font-weight: bold;
}

.rich-content li {
  line-height: 1.5;
}

.rich-content ol {
  list-style: decimal inside;
}

.rich-content ol li {
  padding-left: 2rem;
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}

.rich-content ul {
  list-style: circle inside;
}

.rich-content ul li {
  padding-left: 2rem;
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}

.rich-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.rich-content figure {
  padding-bottom: 25px;
  padding-top: 25px;
}

.rich-content blockquote {
  @apply rounded border-l-4 border-gray-500 pl-4 italic text-gray-700;
}

.rich-content table {
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto !important;
}

.rich-content h1,
.rich-content h2,
.rich-content h3,
.rich-content h4,
.rich-content h5,
.rich-content h6 {
  margin-bottom: 0.5em !important;
  font-weight: 400 !important;
  font-family: 'Kanit', sans-serif !important;
  line-height: 1.2 !important;
  text-transform: none;
  color: #1d4cb1;
}

.rich-content h1 {
  font-size: 2.4609375rem !important;
}

.rich-content h2 {
  font-size: 1.96875rem !important;
}

.rich-content h3 {
  font-size: 1.72265625rem !important;
}

.rich-content h4 {
  font-size: 1.4765625rem !important;
}

.rich-content h5 {
  font-size: 1.23046875rem !important;
}

.rich-content h6 {
  font-size: 1.125rem !important;
}

figcaption {
  color: rgb(104, 113, 118);
  font-size: 14px !important;
  font-weight: 500;
  line-height: 20px;
  padding: 5px 10px;
  text-align: center;
}
